[Unit]
Description=A rule based proxy in Go.
After=network.target

[Service]
Type=simple
ExecStart=%h/.local/bin/mihomo -f %h/.config/mihomo/config.yaml
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
