[Unit]
Description = A rule based proxy in Go.
After = network.target

[Service]
Type = simple
ExecStart = %h/.local/bin/clash -f %h/.config/mihomo/config.yaml
Restart = always
RestartSec = 5s

[Install]
WantedBy = default.target
