[Unit]
Description=espanso

[Service]
ExecStart=/home/wukaige/espanso/target/release/espanso launcher 
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target

