[Unit]
Description=Fcitx5 input method
After=default.target

[Service]
Type=forking
Environment="DISPLAY=:0"
Environment="WAYLAND_DISPLAY=wayland-1"
Environment="XDG_SESSION_TYPE=wayland"
Environment="XMODIFIERS=@im=fcitx5"
Environment="QT_IM_MODULE=fcitx5"
Environment="SDL_IM_MODULE=fcitx5"
ExecStart=/usr/bin/fcitx5 -d
Restart=on-failure
RestartSec=3

[Install]
WantedBy=default.target

