[Unit]
Description=Frps Service
After=network.target syslog.target
Wants=network.target

[Service]
Type=simple
ExecStart=%h/.local/bin/frps -c %h/.frps.toml
Restart=always
RestartSec=5s

[Install]
WantedBy=default.target

