[Unit]
Description = Hexo Service
After = network.target

[Service]
Type = simple
ExecStart = %h/.sh/hexo.sh
WorkingDirectory = %h/.blog
Restart = always
RestartSec = 5s

[Install]
WantedBy = default.target

