[Unit]
Description=Hugo Service
After=network.target syslog.target

[Service]
Type=simple
WorkingDirectory=%h/.hugo/
ExecStart=/usr/local/bin/hugo server
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target

