[Unit]
Description = MyIP Service
After = network.target syslog.target
Wants = network.target

[Service]
Type = simple
ExecStart = %h/.tmux.d/scripts/ip_address.sh
Restart = on-failure
RestartSec = 5s

[Install]
WantedBy = default.target

