[Unit]
Description = Picom Compositor
After = network.target

[Service]
Type = simple
ExecStart = %h/.sh/picom
Restart = always
RestartSec = 5s

[Install]
WantedBy = default.target

