[Unit]
Description=Pueue Daemon - CLI process scheduler and manager

[Service]
ExecStart=%h/.local/bin/pueued -vv
Restart=no

[Install]
WantedBy=default.target
