[Unit]
Description=ssh-chat
After=network.target

[Service]
Type=simple
ExecStart=%h/.local/bin/ssh-chat --bind=":2222" -i="%h/.ssh/id_rsa"
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=default.target
