[Unit]
Description=Podman uptime-kuma service
Wants=network-online.target
After=network-online.target
RequiresMountsFor=/run/user/1000/containers

[Service]
Type=simple
Restart=on-failure
RestartSec=10
TimeoutStopSec=30

ExecStartPre=-/usr/bin/podman stop uptime-kuma
ExecStartPre=-/usr/bin/podman rm uptime-kuma
ExecStart=/usr/bin/podman run --rm \
    --name=uptime-kuma \
    -v=uptime-kuma:/app/data \
    --network=host \
    --log-driver=journald \
    louislam/uptime-kuma:2

ExecStop=/usr/bin/podman stop -t 10 uptime-kuma
ExecStopPost=-/usr/bin/podman rm -f uptime-kuma

[Install]
WantedBy=default.target
