[Unit]
Description=Waybar - Status bar for Wayland
Documentation=https://github.com/Alexays/Waybar
After=graphical-session.target
Wants=graphical-session.target
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=waybar
Restart=always
RestartSec=5
Environment=PATH=%h/.local/bin:/usr/local/bin:/usr/bin
Environment=LD_LIBRARY_PATH=/usr/local/lib64:$LD_LIBRARY_PATH

[Install]
WantedBy=graphical-session.target
