[Unit]
Description=Waybar for Wayland

[Service]
Type=simple
ExecStart=/usr/bin/waybar
Restart=always
RestartSec=2
Environment=XDG_CURRENT_DESKTOP=Hyprland

[Install]
WantedBy=default.target
