@import "colors.css";

/* 全局样式 */
* {
  font-family: "Maple Mono NF CN";
  font-weight: bold;
  font-size: 97%;
  font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';
  min-height: 0;
}

/* Waybar 窗口 */
window#waybar {
  border-radius: 1px;
  background: transparent;
  color: @foreground;
}

window#waybar.hidden {
  opacity: 0.5;
}

window#waybar.empty,
window#waybar.empty #window {
  padding: 0;
  border: 0;
  background-color: transparent;
}

/* 工作区按钮 */
#workspaces button {
  color: @foreground;
  box-shadow: none;
  text-shadow: none;
  padding: 4px 6px;
  border-radius: 1px;
}

#workspaces button:hover {
  background-color: transparent;
}

#workspaces button.active {
  border-bottom: 1px solid @cursor;
}

#workspaces button.urgent {
  color: @color13;
  border-radius: 9px;
}

/* 模块通用样式 */
#backlight,
#battery,
#bluetooth,
#clock,
#cpu,
#disk,
#idle_inhibitor,
#keyboard-state,
#memory,
#mode,
#mpris,
#network,
#power-profiles-daemon,
#pulseaudio,
#taskbar,
#temperature,
#tray,
#window,
#wireplumber,
#workspaces,
#custom-cycle_wall,
#custom-hint,
#custom-keyboard,
#custom-light_dark,
#custom-lock,
#custom-menu,
#custom-power_vertical,
#custom-power,
#custom-swaync,
#custom-spotify,
#custom-poetry,
#custom-updater,
#custom-weather,
#custom-weather.clearNight,
#custom-weather.cloudyFoggyDay,
#custom-weather.cloudyFoggyNight,
#custom-weather.default,
#custom-weather.rainyDay,
#custom-weather.rainyNight,
#custom-weather.severe,
#custom-weather.showyIcyDay,
#custom-weather.snowyIcyNight,
#custom-weather.sunnyDay {
  padding: 4px 6px;
}

/* 特殊状态样式 */
#temperature.critical {
  background-color: #ff0000;
}

#battery.critical:not(.charging) {
  color: #f53c3c;
  animation: blink 0.5s linear infinite alternate;
}

/* 任务栏按钮 */
#taskbar button:hover {
  padding: 0 3px;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.3s cubic-bezier(.55, -0.68, .48, 1.682);
}

#taskbar button.active {
  background-color: #7f849c;
  padding: 0 12px;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.3s cubic-bezier(.55, -0.68, .48, 1.682);
}

/* 滑块样式 */
#pulseaudio-slider slider,
#backlight-slider slider {
  min-width: 0;
  min-height: 0;
  opacity: 0;
  background-image: none;
  border: none;
  box-shadow: none;
}

#pulseaudio-slider trough,
#backlight-slider trough {
  min-width: 80px;
  min-height: 10px;
  border-radius: 5px;
  background-color: black;
}

#pulseaudio-slider highlight,
#backlight-slider highlight {
  min-height: 10px;
  border-radius: 5px;
  background-color: wheat;
}

#backlight-slider highlight {
  min-width: 10px;
}

/* 动画定义 */
@keyframes blink {
  to {
    color: #000000;
  }
}

/* 诗词模块样式 */
#custom-poetry {
  font-family: 'Source Han Sans CN', 'Noto Sans CJK SC', sans-serif;
  font-size: 11px;
}
