[Desktop Entry]
Name=heynote
Comment=Heynote is a dedicated scratchpad for developers.
Exec=heynote
Icon=heynote
Type=Application
Categories=Utility;

